body {
  background-image: url(logo1.jpg);

font-family: Helvetica;

    text-align: center;
}


h2 {
color: rgb(0, 0, 0);
text-align: left;
}

h4 {
    text-align: left;
   
}

}
font {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
